/* location */
.local {
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  background-color: #f3f3f3;
  font-size: 1.2rem;
  position: relative;
}

.local__text {
  font-weight: 500;
  margin-left: 0.5em;
}

/* Information */
.info {
  padding: 2rem;
  text-align: center;
  background-color: #fafafa;
}

.info__subtitle {
  font-weight: 300;
  margin: 1.5rem 0;
}

.info__btn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(
    0deg,
    rgba(147, 86, 220, 0.9),
    rgba(255, 121, 218, 0.9)
  );
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
}

/* Tutorial */
.tuto {
  padding: 2rem 1rem;
}
.container {
  margin: auto;
  position: relative;
}
.tuto__title {
  margin-top: 0;
}
.tuto__steps {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
}
.tuto__step {
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
}
.tuto__step:first-child {
  margin-top: 0;
}
.tuto__icon {
  margin-right: 1rem;
  color: #7e7e7e;
}
.tuto__icon1 {
  margin-right: 0.7rem;
  color: #7e7e7e;
  font-size: 21px;
}
.tuto__icon2 {
  margin-right: 0.8rem;
  color: #7e7e7e;
  font-size: 15px;
}
#text1 {
  padding-left: 7px;
}
.tuto__step:before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  left: -0.75rem;
}

/* Restaurants*/
.restaurants {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}
.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

/*Cards of restaurants */
.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
.card {
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
}
.card__footer {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}
.card__content {
  flex: 1;
}
.card__title {
  margin: 0 0 0.25rem;
  font-weight: 600;
}
.card__subtitle {
  margin: 0;
}

/*Badge new */
.card__badge {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem 1rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}

/* heart Buton  */
.menu__btn {
  height: 2rem;
  width: 2rem;
  border: 0 solid transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: #000;
}
.menu__btn:hover:before {
  opacity: 1;
}
.menu__btn:hover .menu__like--noBg {
  opacity: 0;
}
.menu__btn:before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  background: linear-gradient(0deg, #9356dc, #ff79da);
}
.menu__btn:before,
.menu__like {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.menu__like {
  transition-duration: 0.25s;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
}
