@import "homePageContainer.css";
@import "OthersPageContainer.css";
@import "mediaScreen.css";
@import "animation.css";
@import "image.css";
@import "footer.css";
@import "header.css";

html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.size__body {
  background-color: #fff;
  max-width: 480px;
  margin: 0 auto;
  height: 100vh;
}
